.header{
    height: 10vh;
    background-color: steelblue;
}

.section{
    height: 30vh;
    background-color: steelblue;
    margin-top: 25px;
}

.cards{
    height: 30vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
    
}

.footer{
    height: 20vh;
    background-color: steelblue;
    margin-top: 30px;
}

.cards div{
    height:30vh;
    width: 30vw;
    background-color: steelblue;
}