body{
    margin-left:700px;
    margin-right:700px;
    margin-top: 40px;
    background-color: rgb(227,237,253);
}

.head-color{
    height: 3vh;
    background-color: blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.head-content{
    height: 31vh;
    background-color: white;
    border: 1px transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -40px;
    padding-left: 40px;
}

.head-content h1{
    font-size: 50px;
    padding-top: 25px;
    font-family: helvetica;
}

.head-content p{
    font-size: 30px;
}

.head-content .sign-in{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
}

span{
    color: steelblue;
}

.red{
    color: red;
}

#google{
    margin-top: 2px;
    padding-left: 0px;
}

.questions{
    height: 18vh;
    background-color: white;
    border: 1px transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    padding-left: 40px;
    padding-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 35px;
    font-weight: lighter;
}

.questions-2{
    height: 20vh;
    background-color: white;
    border: 1px transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 50px;
    padding-left: 40px;
    padding-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    
}

input{
    width: 500px;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
:placeholder-shown{
    font-size: 25px;
}

#kin{
    height: 25vh;
}

.radio{
    width: 50px;
    font-size: 20px;
}

.footer{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
}
#footer-2{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

#footer-p{
    display: flex;
    font-size: 30px;
}
#footer-green{
    width: 350px;
    height: 10px;
    background-color: green;
    margin-top: 40px;
}
.button{
    width: 200px;
    height: 90px;
    background-color: rgb(49, 49, 223);
    border: none;
    font-size: 30px;
    color: white;
}

#g-forms{
    text-align: center;
    font-size: 40px;
}

img{
    width: 200px;
    padding-left:550px;
}

